.App {
  text-align: center;
}

.recipe {
  border: 1px solid black;
  padding: 1rem;
  text-align: center;
}

.all-recipes {
  display: flex;
}

.recipe-container {
  flex: 1;
}

.favorites-container {
  flex: 1;
}

.center {
  text-align: center;
}

.search input {
  display: block;
  margin: 0 auto;
}

.placeholder {
  height: 75px;
}

#title {
  text-align: center;
  font-family: 'Questrial', sans-serif;
  font-size: 50px;
}
