.App {
  text-align: center;
}

.recipe {
  border: 1px solid black;
}

.all-recipes {
  display: flex;
}

.recipe-container {
  flex: 1;
}

.favorites-container {
  flex: 1;
}

.center {
  text-align: center;
}

.search input {
  display: block;
  margin: 0 auto;
}
